---
- name: Remove PostgreSQL container if exists
  shell: docker rm -f postgres || true

- name: Pull PostgreSQL image
  shell: docker pull postgres:15

- name: Run PostgreSQL container
  shell: >
    docker run -d
    --name postgres
    --restart always
    -e POSTGRES_USER=postgres
    -e POSTGRES_PASSWORD=postgres
    -e POSTGRES_DB=postgres
    -p 5432:5432
    postgres:15
