---
- name: Pull Redis image
  command: docker pull redis:7

- name: Run Redis container
  command: >
    docker run -d
    --name redis
    --restart always
    -p 6379:6379
    redis:7
  register: redis_run
  failed_when: false

- name: Pull Worker image
  command: docker pull shishir165/worker:v1.0

- name: Run Worker container
  command: >
    docker run -d
    --name worker
    --restart always
    -e REDIS_HOST=10.0.2.136
    -e POSTGRES_HOST=10.0.2.136
    shishir165/worker:v1.0
  register: worker_run
  failed_when: false
