
- name: Basic EC2 setup
  hosts: all
  become: true

  tasks:
    - name: Update packages
      yum:
        name: "*"
        state: latest
      when: ansible_os_family == "RedHat"

    - name: Update packages (Ubuntu)
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install nginx
      package:
        name: nginx
        state: present