---
- name: Install Docker on all hosts
  hosts: all
  become: true
  
  roles:
    - docker

- name: Configure Database Tier
  hosts: database
  become: true
  roles:
    - database

- name: Configure Backend Tier
  hosts: backend
  become: true
  roles:
    - backend

- name: Configure Frontend Tier
  hosts: frontend
  become: true
  roles:
    - frontend
