# DO NOT remove redis unless you really want a reset
- name: Ensure Redis is running
  shell: |
    docker ps | grep redis || \
    docker run -d \
      --name redis \
      --restart always \
      -p 6379:6379 \
      redis:7 \
      redis-server --protected-mode no --bind 0.0.0.0

- name: Remove Worker container if exists
  shell: docker rm -f worker || true

- name: Run Worker container
  shell: >
    docker run -d
    --name worker
    --restart always
    -e REDIS_HOST=10.0.2.126
    -e REDIS_PORT=6379
    -e POSTGRES_HOST=10.0.2.136
    -e POSTGRES_USER=postgres
    -e POSTGRES_PASSWORD=postgres
    -e POSTGRES_DB=postgres
    -e POSTGRES_PORT=5432
    -e ConnectionStrings__Default="Host=10.0.2.136;Port=5432;Username=postgres;Password=postgres;Database=postgres"
    shishir165/worker:v1.1
