- name: Pull Worker image
  command: docker pull shishir165/worker:v1.1

- name: Run Worker container
  command: >
    docker run -d
    --name worker
    --restart always
    -e REDIS_HOST=localhost
    -e POSTGRES_HOST=10.0.2.136
    shishir165/worker:v1.1
      failed_when: false
